#delallinpage{
    margin-top: 10px;
}
.deldiv{
    min-height: 200px;
    color: #0E0E0E;
    border-radius: 10px;
}
.selectdellist{
    overflow: hidden;
    padding: 10px 0px;
    text-align: left;
}
.selectdellist li{
    float: left;
    width: 100%;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
}
.selectdellist span{
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    top: 5px;
    margin-right: 10px;
    line-height: 18px;
}
.selectdellist .selectedAll{
    color: #fff;
}
.selectdellist .btn{
    width: 50px;
    height: 24px;
}
.schedulebar{
    width: 120px;
    height: auto;
    position: fixed;
    background: #dfd;
    right: 0px;
    top: 300px;
    z-index: 9999;
}
.schedulebar2{
    top: 10px;
}
.schedulelist li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.schedulelist li a{
    color: #fff;
}
.sdoit{
    display: none;
    background: #FFD873;
}
.sdone{
    background: #00DB2C;
}
.serr{
    background: #FF4545;
}
.smsg{
    background: #FF6F6F;
}
.totop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    z-index: 9999;
    bottom: 230px;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.totop2 {
    bottom: 10px;
}