.streamdiv {
    width: 32%;
    margin: 0.6%;
    float: left;
}
.contextdiv > .mdl-card__supporting-text > h2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
}
.contextdiv > .mdl-card__supporting-text > span {
    font-size: 12px;
}
.mdl-demo .mdl-card__actions{
    font-size: 12px;
}
.mdl-menu__container.is-visible0{
    z-index: 999;
    visibility: visible;
}
.mdl-menu__container.is-visible0 .mdl-menu__item {
    opacity: 1;
}
#isbtlist a{
    font-size: 12px;
}
.context{
    overflow: hidden;
}
.pagediv{
    width: 100%;
}