/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Strait', sans-serif;
	 background: #5e35b1;
}
.wrap{
	height: auto
	width: 100%;
	overflow: hidden;
}
h1{
	color: #fff;
	font-size: 30px;
	padding: 30px;
}
.banner{
	width: 100%;
	margin: 100px auto 0 auto ;
	text-align: center;
}
@font-face {
	font-family: 'Strait';
	font-style: normal;
	font-weight: 400;
	src: local('Strait'), local('Strait-Regular'), url(lUDxGkKH3HNEwBuYK6j2SQ.woff) format('woff');
}
.inputdiv{
	margin-left: 10px;
	width: 200px;
	padding: 0;
}
.inputdiv label{
	bottom: 0px;
}
.inputdiv label:after{
	bottom: 0px;
}
#login{
	background: #fff;
	color: #5e35b1;
}
form input{
	outline: none;
}
form .inputdiv{
	padding: 10px;
}
.mdl-textfield__label:after {
	background-color: #fff;
}
.inputdiv label {
	bottom: 10px;
}